body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px;
    font-family: 'Kumbh Sans';
    background: url(../images/bg-pattern-top.svg)  no-repeat,
                url(../images/bg-pattern-bottom.svg)  no-repeat;
    background-color: hsl(185, 75%, 39%);
    background-position: top -600px right 650px, bottom -600px left 650px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 300px;
    min-height: 500px;
    border-radius: 5px;
    overflow: hidden;
}


@media (max-width: 960px) {
    body {
        width:370px;
    }
}